* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  * ol, * ul {
    padding-left: 0; }
  * html {
    scroll-behavior: smooth; }

* {
  font-family: 'Roboto', sans-serif; }
  * h1, * h2, * h3, * h4, * h5 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600; }
  * h1 {
    font-size: 35px; }
  * p {
    font-weight: 600;
    margin-bottom: 0; }
  * a {
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none; }

header .banner, main .quienesSomos .imagenNosotros, main .servicios div article div .imagenServicio1, main .servicios div article div .imagenServicio2, main .servicios div article div .imagenServicio3, main .servicios div article div .imagenServicio4, main .servicios div article div .imagenServicio5 {
  background-size: cover;
  background-position: center center; }

header .banner, header .menu, header.menu, .call, main .galeria .itemGaleria .overlay, main .listaServicios {
  display: flex;
  justify-content: center;
  align-items: center; }

.kenburns-top {
  animation: kenburns-top 5s ease-out both; }

@keyframes kenburns-top {
  0% {
    transform: scale(1) translateY(0);
    transform-origin: 50% 16%; }
  100% {
    transform: scale(1.25) translateY(-15px);
    transform-origin: top; } }

.kenburns-right {
  animation: kenburns-right 5s ease-out both; }

@keyframes kenburns-right {
  0% {
    transform: scale(1) translate(0, 0);
    transform-origin: 84% 50%; }
  100% {
    transform: scale(1.25) translateX(20px);
    transform-origin: right; } }

.kenburns-bottom {
  animation: kenburns-bottom 5s ease-out both; }

@keyframes kenburns-bottom {
  0% {
    transform: scale(1) translateY(0);
    transform-origin: 50% 84%; }
  100% {
    transform: scale(1.25) translateY(15px);
    transform-origin: bottom; } }

.kenburns-left {
  animation: kenburns-left 5s ease-out both; }

@keyframes kenburns-left {
  0% {
    transform: scale(1) translate(0, 0);
    transform-origin: 16% 50%; }
  100% {
    transform: scale(1.25) translate(-20px, 15px);
    transform-origin: left; } }

.text-shadow-drop-bottom {
  animation: text-shadow-drop-bottom 0.6s both; }

@keyframes text-shadow-drop-bottom {
  0% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0); }
  100% {
    text-shadow: 2px 4px rgba(0, 0, 0, 0.5); } }

.shake-vertical {
  animation: shake-vertical 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) 3s both; }

@keyframes shake-vertical {
  0%,
  100% {
    transform: translateY(0); }
  10%,
  30%,
  50%,
  70% {
    transform: translateY(-3px); }
  20%,
  40%,
  60% {
    transform: translateY(3px); }
  80% {
    transform: translateY(2px); }
  90% {
    transform: translateY(-2px); } }

header {
  position: sticky;
  top: -100vh;
  z-index: 1; }
  @media screen and (max-width: 768px) {
    header {
      position: unset;
      z-index: 1; } }
  header .banner {
    background-image: url("../img/header.png");
    height: 100vh; }
    header .banner .cita {
      flex-direction: column; }
      @media screen and (max-width: 768px) {
        header .banner .cita {
          width: 80%; } }
      header .banner .cita .citaTexto {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 35px;
        font-weight: 600;
        text-align: left;
        color: #fff; }
      header .banner .cita .citaFirma {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 30px;
        font-style: italic;
        text-align: right;
        color: #fff;
        padding-top: 10px; }
    header .banner .material-icons {
      color: #fff;
      position: absolute;
      top: 90vh;
      font-size: 2.5rem; }
  header .menu {
    justify-content: space-between;
    background-color: #000;
    padding: 10px 80px; }
    @media screen and (max-width: 992px) {
      header .menu {
        padding: 10px 60px; } }
    @media screen and (max-width: 600px) {
      header .menu {
        padding: 10px 30px; } }
    header .menu div .logo {
      height: 60px; }
      @media screen and (max-width: 992px) {
        header .menu div .logo {
          height: 50px; } }
    header .menu nav div div .linkMenu {
      font-size: 21px;
      font-weight: 500;
      color: #fff;
      margin-left: 10px; }
      @media screen and (max-width: 768px) {
        header .menu nav div div .linkMenu {
          margin-left: 0px; } }
      header .menu nav div div .linkMenu:hover {
        color: #437cbf;
        transition: .5s ease; }

header.menu {
  justify-content: space-between;
  background-color: #000;
  padding: 10px 80px;
  position: sticky;
  top: 0; }
  @media screen and (max-width: 992px) {
    header.menu {
      padding: 10px 60px; } }
  @media screen and (max-width: 768px) {
    header.menu {
      position: unset; } }
  @media screen and (max-width: 600px) {
    header.menu {
      padding: 10px 30px; } }
  header.menu div .logo {
    height: 60px; }
    @media screen and (max-width: 992px) {
      header.menu div .logo {
        height: 50px; } }
  header.menu nav div div .linkMenu {
    font-size: 21px;
    font-weight: 500;
    color: #fff;
    margin-left: 10px; }
    @media screen and (max-width: 768px) {
      header.menu nav div div .linkMenu {
        margin-left: 0px; } }
    header.menu nav div div .linkMenu:hover {
      color: #437cbf;
      transition: .5s ease; }

footer {
  background-color: #000;
  text-align: center;
  padding: 10px 50px; }
  @media screen and (max-width: 600px) {
    footer {
      padding: 10px 30px; } }
  footer .social {
    margin: 30px; }
    footer .social a {
      padding: 0 10px; }
  footer nav ul li {
    font-size: 20px;
    font-weight: 300;
    margin: 20px;
    display: inline-block; }
    @media screen and (max-width: 600px) {
      footer nav ul li {
        margin: 10px; } }
    @media screen and (max-width: 480px) {
      footer nav ul li {
        display: block; } }
    footer nav ul li a {
      color: #fff; }
  footer p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #fff;
    margin: 10px; }
    @media screen and (max-width: 480px) {
      footer p {
        margin: 30px; } }

main .contenedorBanner {
  height: 25vh;
  overflow: hidden; }
  main .contenedorBanner .bannerPages {
    object-fit: cover;
    min-width: 100%; }

main .introPages {
  padding: 50px 80px;
  line-height: 1.5rem; }
  @media screen and (max-width: 992px) {
    main .introPages {
      padding: 50px 60px; } }
  @media screen and (max-width: 480px) {
    main .introPages {
      padding: 30px 30px; } }
  main .introPages h1 {
    padding-bottom: 2rem; }
    @media screen and (max-width: 480px) {
      main .introPages h1 {
        padding-bottom: 0.5rem; } }
  main .introPages p {
    font-size: 20px; }

.call {
  background-color: #437cbf;
  padding: 20px;
  font-size: 21px; }
  @media screen and (max-width: 992px) {
    .call {
      padding: 20px 60px; } }
  @media screen and (max-width: 600px) {
    .call {
      flex-direction: column;
      text-align: center; } }
  @media screen and (max-width: 480px) {
    .call {
      padding: 30px 30px; } }
  .call p {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold; }
    @media screen and (max-width: 600px) {
      .call p {
        padding-bottom: 1rem; } }
  .call .callBoton {
    display: inline-block;
    background-color: #fff;
    border-radius: 5px;
    margin-left: 25px;
    padding: 10px 30px; }
    @media screen and (max-width: 600px) {
      .call .callBoton {
        margin: 0px; } }
    .call .callBoton a {
      font-weight: bold;
      text-decoration: none;
      color: #437cbf; }

.whatsapp {
  position: fixed;
  bottom: 30px;
  right: 30px; }

main .intro {
  line-height: 1.5rem;
  padding: 50px 80px;
  display: grid;
  grid-template-areas: "intro intro intro" "caja1 caja2 caja3";
  gap: 2rem; }
  @media screen and (max-width: 992px) {
    main .intro {
      padding: 50px 60px; } }
  @media screen and (max-width: 768px) {
    main .intro {
      gap: 1rem; } }
  @media screen and (max-width: 600px) {
    main .intro {
      grid-template-areas: "intro" "caja1" "caja2" "caja3"; } }
  @media screen and (max-width: 480px) {
    main .intro {
      padding: 30px 30px; } }
  main .intro h1 {
    padding-bottom: 30px; }
  main .intro p {
    font-size: 20px; }
  main .intro .introTexto {
    grid-area: intro; }
  main .intro .introCaja {
    border-bottom: 2px solid #437cbf; }
    main .intro .introCaja .caja1 {
      grid-area: caja1; }
    main .intro .introCaja .caja2 {
      grid-area: caja2; }
    main .intro .introCaja .caja3 {
      grid-area: caja3; }
    main .intro .introCaja img {
      display: block;
      margin: auto;
      width: 100px; }
    main .intro .introCaja h3 {
      font-size: 20px;
      padding-bottom: 10px; }
    main .intro .introCaja p {
      font-size: 16px;
      padding-bottom: 10px; }

main .galeria {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  background-color: #437dbf23;
  padding: 50px 80px;
  gap: 2rem; }
  @media screen and (max-width: 992px) {
    main .galeria {
      padding: 50px 60px; } }
  @media screen and (max-width: 768px) {
    main .galeria {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem; } }
  @media screen and (max-width: 480px) {
    main .galeria {
      padding: 30px 30px;
      grid-template-columns: repeat(1, 1fr); } }
  main .galeria .itemGaleria {
    position: relative;
    overflow: hidden;
    z-index: 0; }
    main .galeria .itemGaleria img {
      display: block;
      width: 100%; }
    main .galeria .itemGaleria .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      transition: .5s ease;
      background-color: #437cbfb2; }
      main .galeria .itemGaleria .overlay p {
        font-family: 'Roboto Condensed', sans-serif;
        color: #fff;
        font-size: 20px;
        font-weight: bolder;
        text-align: center; }
    main .galeria .itemGaleria:hover img {
      filter: blur(3px); }
    main .galeria .itemGaleria:hover .overlay {
      opacity: 1; }

main .contenido {
  padding: 50px 80px;
  line-height: 1.5rem;
  display: grid;
  grid-template-areas: "videoFDM textoDer" "textoIzq videoDLP";
  gap: 2rem;
  align-items: center;
  overflow: hidden; }
  @media screen and (max-width: 992px) {
    main .contenido {
      padding: 50px 60px; } }
  @media screen and (max-width: 768px) {
    main .contenido {
      grid-template-areas: "videoFDM" "textoDer" "videoDLP" "textoIzq"; } }
  @media screen and (max-width: 480px) {
    main .contenido {
      padding: 30px 30px; } }
  main .contenido iframe {
    width: 100%;
    height: 100%; }
    @media screen and (max-width: 768px) {
      main .contenido iframe {
        height: 300px; } }
  main .contenido .videoFDM {
    grid-area: videoFDM; }
  main .contenido .videoDLP {
    grid-area: videoDLP; }
  main .contenido .textoDer {
    text-align: left;
    grid-area: textoDer; }
  main .contenido .textoIzq {
    text-align: right;
    grid-area: textoIzq; }
    @media screen and (max-width: 768px) {
      main .contenido .textoIzq {
        text-align: left; } }

main .quienesSomos {
  padding: 0px 80px;
  display: grid;
  grid-template-areas: "p2Nosotros imgNosotros";
  gap: 2rem;
  line-height: 1.5rem; }
  @media screen and (max-width: 992px) {
    main .quienesSomos {
      padding: 0px 60px;
      grid-template-areas: "imgNosotros" "p2Nosotros"; } }
  @media screen and (max-width: 480px) {
    main .quienesSomos {
      padding: 0px 30px; } }
  main .quienesSomos .p2 {
    grid-area: p2Nosotros;
    margin-bottom: 0; }
  main .quienesSomos .imagenNosotros {
    background-image: url(../img/fdm.jpg);
    min-height: 30vh;
    width: 40vw;
    grid-area: imgNosotros; }
    @media screen and (max-width: 992px) {
      main .quienesSomos .imagenNosotros {
        width: 100%; } }

main .listaServicios {
  flex-wrap: nowrap;
  padding: 20px 80px 70px 80px;
  text-align: center;
  gap: 2rem; }
  @media screen and (max-width: 992px) {
    main .listaServicios {
      padding: 0px 60px 70px 60px;
      justify-content: space-around; } }
  @media screen and (max-width: 768px) {
    main .listaServicios {
      padding: 0px 30px 70px 30px;
      flex-wrap: wrap; } }
  main .listaServicios h2 {
    font-size: 21px;
    padding-bottom: 1rem; }
  main .listaServicios img {
    width: 75%; }
    @media screen and (max-width: 768px) {
      main .listaServicios img {
        width: 50%; } }
    @media screen and (max-width: 600px) {
      main .listaServicios img {
        width: 25%; } }
    @media screen and (max-width: 320px) {
      main .listaServicios img {
        width: 60%; } }
  main .listaServicios a {
    color: #000; }
  @media screen and (max-width: 992px) {
    main .listaServicios div {
      width: 40%; } }
  @media screen and (max-width: 768px) {
    main .listaServicios div {
      width: 45%; } }
  @media screen and (max-width: 600px) {
    main .listaServicios div {
      width: 100%; } }

main .productos {
  padding: 0px 80px 50px 80px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem; }
  @media screen and (max-width: 992px) {
    main .productos {
      padding: 0px 60px 50px 60px;
      grid-template-columns: repeat(3, 1fr); } }
  @media screen and (max-width: 768px) {
    main .productos {
      grid-template-columns: repeat(2, 1fr); } }
  @media screen and (max-width: 480px) {
    main .productos {
      padding: 0px 30px 20px 30px; } }
  @media screen and (max-width: 320px) {
    main .productos {
      grid-template-columns: repeat(1, 1fr); } }
  main .productos article {
    border-bottom: 2px solid #437cbf; }
    main .productos article img {
      width: 100%;
      padding-bottom: 10px; }
    main .productos article h2 {
      font-size: 21px;
      padding-bottom: 10px; }
    main .productos article p {
      font-size: 16px;
      padding-bottom: 16px; }

main .servicios {
  padding: 0px 80px 50px 80px; }
  @media screen and (max-width: 992px) {
    main .servicios {
      padding: 0px 60px 50px 60px; } }
  @media screen and (max-width: 480px) {
    main .servicios {
      padding: 0px 30px 20px 30px; } }
  main .servicios div article div .imagenServicio1 {
    background-image: url(../img/figura.jpg);
    height: 100%;
    min-height: 40vh; }
  main .servicios div article div .imagenServicio2 {
    background-image: url(../img/drone.jpg);
    min-height: 40vh; }
  main .servicios div article div .imagenServicio3 {
    background-image: url(../img/figura.jpg);
    height: 100%;
    min-height: 40vh; }
  main .servicios div article div .imagenServicio4 {
    background-image: url(../img/drone.jpg);
    min-height: 40vh; }
  main .servicios div article div .imagenServicio5 {
    background-image: url(../img/escultura.jpg);
    min-height: 40vh; }
  main .servicios div article div h2 {
    font-size: 24px; }
  main .servicios div .linea {
    border-bottom: 2px solid #437cbf;
    height: 2px;
    padding: 0;
    margin: 2.5rem 0 2.5rem 0; }

main .contacto {
  padding: 0px 80px 50px 80px;
  display: flex;
  flex-direction: row;
  gap: 2rem; }
  @media screen and (max-width: 992px) {
    main .contacto {
      padding: 0px 60px 50px 60px; } }
  @media screen and (max-width: 768px) {
    main .contacto {
      flex-direction: column; } }
  @media screen and (max-width: 480px) {
    main .contacto {
      padding: 0px 30px 20px 30px; } }
  main .contacto form {
    width: 50%; }
    @media screen and (max-width: 768px) {
      main .contacto form {
        width: auto; } }
    main .contacto form div {
      gap: 1rem; }
      main .contacto form div .foco:focus {
        outline: 0;
        border: 2px solid #437cbf;
        border-color: #437cbf;
        box-shadow: none; }
      main .contacto form div .botonBorrar {
        width: 50%;
        background-color: #fff;
        border: 2px solid #437cbf;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 600;
        color: #437cbf; }
      main .contacto form div .botonEnviar {
        width: 50%;
        background-color: #437cbf;
        border: 2px solid #437cbf;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 600;
        color: #fff; }
  main .contacto iframe {
    width: 50%; }
    @media screen and (max-width: 768px) {
      main .contacto iframe {
        width: 100%; } }
