main{
    .quienesSomos{
        padding: 50px 80px;
        display: grid;
        grid-template-areas: "h1Nosotros imgNosotros"
                             "p1Nosotros imgNosotros"
                             "p2Nosotros imgNosotros"
                             "p3Nosotros imgNosotros";
        gap: 2rem;
        line-height: 1.5rem;
        @include breakpoint(lg) {
            padding: 50px 60px;
            grid-template-areas: "h1Nosotros"
                                 "p1Nosotros"
                                 "imgNosotros"
                                 "p2Nosotros"
                                 "p3Nosotros";
        }
        @include breakpoint(xs) {
            padding: 30px 30px;
        }
        h1{
            grid-area: h1Nosotros;
        }
        .p1{
            font-size: 20px;
            grid-area: p1Nosotros;
        }
        .p2{
            grid-area: p2Nosotros;
            margin-bottom: 0;
        }
        .p3{
            grid-area: p3Nosotros;
            font-weight: 900;
            margin-bottom: 0;
        }
        .imagenNosotros{
            background-image: url(../img/fdm.jpg);
            @extend %bg-cover;
            min-height: 30vh;
            width: 40vw;
            grid-area: imgNosotros;
            @include breakpoint(lg) {
                width: 100%;
            }
        }
    }
    .listaServicios{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        justify-content: center;
        padding: 20px 80px 70px 80px;
        text-align: center;
        gap: 2rem;
        @include breakpoint(lg) {
            padding: 0px 60px 70px 60px;
            grid-template-columns: repeat(2, 1fr);
        }
        @include breakpoint(xs) {
            grid-template-columns: repeat(1, 1fr);
        }
        h2{
            font-size: 21px;
            padding-bottom: 1rem;
        }
        img{
            width: 40%;
            @include breakpoint(lg) {
                width: 30%;
            }
            
            @include breakpoint(xxs) {
                width: 60%;
            }
        }
        a{
            color: #000;
        }
    }
}