main{
    background-color: map-get($map: $color, $key: bg-claro);
    .productos{
        padding: 0px 80px 50px 80px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
        @include breakpoint(lg) {
            padding: 0px 60px 50px 60px;
            grid-template-columns: repeat(3, 1fr);
        }
        @include breakpoint(md) {
            grid-template-columns: repeat(2, 1fr);
        }
        @include breakpoint(xs) {
            padding: 0px 30px 20px 30px;
        }
        @include breakpoint(xxs) {
            grid-template-columns: repeat(1, 1fr);
        }
        article{
            border-bottom: 2px solid #437cbf;
            img{
                width: 100%;
                padding-bottom: 10px;
            }
            h2{
                font-size: 21px;
                padding-bottom: 10px;
            }
            p{
                font-size: 16px;
                padding-bottom: 16px;
            }
        }
    }
    .popup{
        position: fixed;
        top: 0;
        left: 0;
        background-color: map-get($map: $color, $key: bg-productos);
        height: 100%;
        width: 100%;
        z-index: 100;
        display: none;
        backdrop-filter: blur(5px);
        span{
            position: absolute;
            top: 0;
            right: 2rem;
            font-size: 2.5rem;
            font-weight: bolder;
            cursor: pointer;
            color: map-get($map: $color, $key: texto-claro);
            z-index: 101;
        }
        img{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 50%;
            object-fit: cover;
            @include breakpoint(md) {
                width: 80%;
            }
        }
    }
}