main{
    .servicios{
        padding: 0px 80px 50px 80px;
        @include breakpoint(lg) {
            padding: 0px 60px 50px 60px;
        }
        @include breakpoint(xs) {
            padding: 0px 30px 20px 30px;
        }
        div{
            article{
                div{
                    .imagenServicio1{
                        background-image: url(../img/figura.jpg);
                        @extend %bg-cover;
                        height: 100%;
                        min-height: 40vh;
                    }
                    .imagenServicio2{
                        background-image: url(../img/modelado.jpg);
                        @extend %bg-cover;
                        min-height: 40vh;
                    }
                    .imagenServicio3{
                        background-image: url(../img/terminacion.jpg);
                        @extend %bg-cover;
                        height: 100%;
                        min-height: 40vh;
                    }
                    .imagenServicio4{
                        background-image: url(../img/escaneo-pieza.jpg);
                        @extend %bg-cover;
                        min-height: 40vh;
                    }
                    .imagenServicio5{
                        background-image: url(../img/capacitacion.jpg);
                        @extend %bg-cover;
                        min-height: 40vh;
                    }
                    h2{
                        font-size: 24px;
                    }
                }
            }
            .linea {
                border-bottom: 2px solid map-get($map: $color, $key: principal);
                height: 2px;
                padding: 0;
                margin: 2.5rem 0 2.5rem 0;
            }
        }
    }
}
