.kenburns-top {
	animation: kenburns-top 5s ease-out both;
  @keyframes kenburns-top {
    0% {
      transform: scale(1) translateY(0);
      transform-origin: 50% 16%;
    }
    100% {
      transform: scale(1.05) translateY(-15px);
      transform-origin: top;
    }
  }
}

.text-shadow-drop-bottom {
	animation: text-shadow-drop-bottom 0.6s both;
  @keyframes text-shadow-drop-bottom {
    0% {
      text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
        text-shadow: 2px 4px rgba(0, 0, 0, 0.500);;
    }
  }
}

.shake-vertical {
	animation: shake-vertical 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) 3s both;
  @keyframes shake-vertical {
    0%,
    100% {
      transform: translateY(0);
    }
    10%,
    30%,
    50%,
    70% {
      transform: translateY(-3px);
    }
    20%,
    40%,
    60% {
      transform: translateY(3px);
    }
    80% {
      transform: translateY(2px);
    }
    90% {
      transform: translateY(-2px);
    }
  }
}


  






