$breakpoints: (
    xxs: 320px,
    xs: 480px,
    sm: 600px,
    md: 768px,
    lg: 992px,
);

@mixin breakpoint($size) {
    @if map-has-key($breakpoints, $size) {
        @media screen and (max-width: #{map-get($breakpoints, $size)}) {
            @content;
        }
    }
}