// Fondo general

body{
    background-color: map-get($map: $color, $key: bg-claro);
}

// Intro Páginas

main{
    .contenedorBanner{
        height: 25vh;
        overflow: hidden;
        .bannerPages{
            object-fit: cover;
            min-width: 100%;
        }
    }
    .introPages{
        padding: 50px 80px;
        line-height: 1.5rem;
        @include breakpoint(lg) {
            padding: 50px 60px;
        }
        @include breakpoint(xs) {
            padding: 30px 30px;
        }
        h1{
            padding-bottom: 2rem;
            @include breakpoint(xs) {
                padding-bottom: 0.5rem;
            }
        }
        p{
            font-size: 20px;
        }
    }
}

// CTA

.call{
    @extend %flex;
    background-color: map-get($map: $color, $key: principal);
    padding: 20px;
    font-size: 21px;
    @include breakpoint(lg) {
        padding: 20px 60px;
    }
    @include breakpoint(sm) {
        flex-direction: column;
        text-align: center;
    }
    @include breakpoint(xs) {
        padding: 30px 30px;
    }
    p{
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: bold;
        @include breakpoint(sm) {
            padding-bottom: 1rem;
        }
    }
    .callBoton{
        display: inline-block;
        background-color: map-get($map: $color, $key: texto-claro);
        border-radius: 5px;
        margin-left: 25px;
        padding: 10px 30px;
        @include breakpoint(sm) {
            margin: 0px;
        }
        a{
            font-weight: bold;
            text-decoration: none;
            color: map-get($map: $color, $key: principal);
        }
    }
}

// Botón Whatsapp
.whatsapp{
    position: fixed;
    bottom: 30px;
    right: 30px;
}