header{
    position: sticky;
    top: -100vh;
    z-index: 1;
    @include breakpoint(md) {
        position: unset;
        z-index: 1;
    }
    .banner{
        background-image: url("../img/header.png");
        height: 100vh;
        @extend %flex, %bg-cover;
        .cita{
            flex-direction: column;
            @include breakpoint(md) {
                width: 80%;
            }
            .citaTexto{
                font-family: 'Roboto Condensed', sans-serif;
                font-size: 35px;
                font-weight: 600;
                text-align: left;
                color: map-get($map: $color, $key: texto-banner);
            }
            .citaFirma{
                font-family: 'Roboto Condensed', sans-serif;
                font-size: 30px;
                font-style: italic;
                text-align: right;
                color: map-get($map: $color, $key: texto-banner);
                padding-top: 10px;
            }
        }
        .material-icons{
            color: map-get($map: $color, $key: texto-banner);
            position: absolute;
            top: 90vh;
            font-size: 2.5rem;
        }
    }
    .menu{
        @extend %flex;
        justify-content: space-between;
        background-color: map-get($map: $color, $key: bg-menu);
        padding: 10px 80px;
        @include breakpoint(lg) {
            padding: 10px 60px;
        }
        @include breakpoint(sm) {
            padding: 10px 30px;
        }
        div{
            .logo{
                height: 60px;
                @include breakpoint(lg) {
                    height: 50px;
                }
            }
        }
        nav{
            div{
                div{
                    .linkMenu{
                        font-size: 21px;
                        font-weight:500;
                        color: map-get($map: $color, $key: texto-menu);
                        margin-left: 10px;
                        @include breakpoint(md) {
                            margin-left: 0px;
                        }
                        &:hover{
                            color: map-get($map: $color, $key: principal);
                            transition: .5s ease;
                        }
                    }
                    
                }
            }
        }
    }
}