header.menu{
    @extend %flex;
    justify-content: space-between;
    background-color: map-get($map: $color, $key: bg-menu);
    padding: 10px 80px;
    position: sticky;
    top: 0;
    @include breakpoint(lg) {
        padding: 10px 60px;
    }
    @include breakpoint(md) {
        position: unset;
    }
    @include breakpoint(sm) {
        padding: 10px 30px;
    }
    div{
        .logo{
            height: 60px;
            @include breakpoint(lg) {
                height: 50px;
            }
        }
    }
    nav{
        div{
            div{
                .linkMenu{
                    font-size: 21px;
                    font-weight:500;
                    color: map-get($map: $color, $key: texto-menu);
                    margin-left: 10px;
                    @include breakpoint(md) {
                        margin-left: 0px;
                    }
                    &:hover{
                        color: map-get($map: $color, $key: principal);
                        transition: .5s ease;
                    }
                }
            }
        }
    }
}