$color: (
    principal: #437cbf,
    principal-overlay: #437cbfb2,
    texto-banner: #fff,
    texto-menu: #fff,
    texto-claro: #fff,
    bg-menu: #000,
    bg-galeria: #437dbf23,
    bg-footer: #000,
    bg-claro: #fff,
);